<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form id="loginForm">
      <label for="email">
        <input
          name="email"
          type="email"
          id="email"
          placeholder="Enter email"
          required
        />
      </label>

      <label for="password">
        <input
          name="password"
          type="password"
          id="password"
          placeholder="Enter password"
          required
        />
      </label>
      <button type="submit">Submit</button>
    </form>
    <script>
      const form = document.getElementById('loginForm');
      form.addEventListener('submit', (event) => {
        event.preventDefault();

        let email = document.getElementById('email').value;
        let password = document.getElementById('password').value;

        fetch('/api/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          body:
            'email=' +
            encodeURIComponent(email) +
            '&password=' +
            encodeURIComponent(password),
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            if (data.token) {
              localStorage.setItem('token', data.token);
              fetch('/users', {
                method: 'GET',
                headers: {
                  'Content-Type': 'text/html',
                  authorization: `Bearer ${localStorage.getItem('token')}`,
                },
              })
                .then((response) => {
                  return response.text();
                })
                .then((html) => {
                  document.body.innerHTML = html;
                });
            } else {
              console.log('Token does not exist');
            }
          })
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
