<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form id="registerForm">
      <label for="username">
        <input
          type="text"
          id="username"
          placeholder="Enter username"
          required
        />
      </label>
      <label for="email">
        <input type="text" id="email" placeholder="Enter email" required />
      </label>
      <label for="password">
        <input
          type="password"
          id="password"
          placeholder="Enter password"
          required
        />
      </label>
      <button type="submit" id="btn">Submit</button>
    </form>
    <script>
      const form = document.getElementById('registerForm');
      form.addEventListener('submit', (event) => {
        event.preventDefault();

        let username = document.getElementById('username').value;
        let email = document.getElementById('email').value;
        let password = document.getElementById('password').value;

        fetch('/api/register', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            username: username,
            email: email,
            password: password,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data && data.message === 'User successfuly added') {
              window.location.href = '/login';
            } else if (data.message === 'User already exist') {
              console.log(data.message);
            }
          })
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
