<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
  </head>
  <body>
    <h1>File Uploader</h1>
    <form id="fileuploader">
      <input id="file2" type="file" name="file2" />
      <button type="submit">Upload</button>
    </form>
    <br />
    <form id="fileFormData">
      <input id="file" type="file" name="file" />
      <button type="submit">Upload via Form Data</button>
    </form>
    <script src="script.js"></script>
  </body>
</html>
